@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
html,
body {
  font-family: "Helvetica Neue", sans-serif !important;
  background: white;
}
.App {
  background-color: #fff;
  border-radius: 4px;
}
.MuiInputBase-input {
  font-family: "Helvetica Neue", sans-serif !important;
}
.MuiTypography-body1 {
  font-family: "Helvetica Neue", sans-serif !important;
}
.MuiTypography-body2 {
  font-family: "Helvetica Neue", sans-serif !important;
}
.MuiTypography-h5 {
  font-family: "Helvetica Neue", sans-serif !important;
  font-size: 20px !important;
}
.MuiTypography-h6 {
  font-family: "Helvetica Neue", sans-serif !important;
  font-size: 22px !important;
}
.MuiInputBase-inputMultiline {
  height: 20px !important;
  resize: none;
  padding: 0;
}
.app-bar {
  background-color: #fff !important;
  box-shadow: none !important;
  border-bottom: 2px solid #e6ecf0;
  border-radius: 15px 15px 0 0;
}

.Button:hover {
  color: #ffff8d;
}
.spinner {
  text-align: center;
  margin: auto;
}
a {
  color: black;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.signup-small {
  text-decoration: underline black;
}

.parent-span svg {
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

.parent-span:hover svg {
  fill: #00beff !important;
}
.location-website-date {
  background-color: #e6ecf0;
  padding: 5px;
  border-radius: 4px;
  font-size: 14px;
}

.profile-buttons-container {
  margin-top: 15px;
  background-color: #e6ecf0;
  border-radius: 4px;
}
.btn {
  color: white;
}

.spinnerDiv {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 90%;
}

.spinnerDiv-profile {
  text-align: center;
  padding-top: 115px;
  padding-bottom: 190px;
  border: #e6ecf0 2px solid;
  border-radius: 4px;
}

.wave-container {
  padding: 10px 0 0 24px;
}
.wave-avatar {
  width: 100px;
  height: 100px;
  display: inline;
}
.avatar-container {
  padding-left: 50px;
}

.container {
  padding: 10px 30px 4px 30px;
}

.delete-button {
  position: absolute;
  top: 0;
  right: 0;
}
.bio {
  padding-top: 10px;
}
.close-wave {
  position: absolute;
  left: 91%;
  top: 6%;
}

.separator {
  width: 100%;
  padding-bottom: 20px;
  padding-top: 20px;
  border-top: 2px solid #e6ecf0;
}
.comment-user-details {
  padding-left: 12px;
}
.profile-image {
  height: 200px;
  width: 200px;
  max-width: 200px;
  max-height: 200px;
}
.dialog-profile-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 30%;
}

.comment-image {
  max-width: 100%;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}
.comment-image-container {
  margin-top: 30%;
}

.comment-form {
  display: flex;
  flex-direction: row;
}
.text-field {
  margin: 10px auto 10px auto;
}
.form-text-field {
  margin: 10px auto 10px auto;
}
.comment-form-container {
  background-color: #e6ecf0;
  padding: 0 10px 10px 10px;
  border-radius: 4px;
  width: 100%;
  margin: 20px;
}
.submit-btn {
  box-shadow: none !important;
  position: relative;
  color: white !important;
  padding-left: 10px;
}

.like-comment-icon {
  display: flex;
  padding: 2px;
}
.comment-button {
  padding-left: 10px;
  display: inline-block;
}
.comment-count {
  display: inline-block;
}
.like-count {
  display: inline-block;
}

.Comments-commentData-537 {
  width: 75% !important;
}

.wave-body {
  padding: 0 0 0 12px;
  line-height: 1.5;
  margin: 10px;
}

/*NEWS*/

.article-source {
  border: solid black 2px;
}
.article-url {
  color: blue;
}

.news-body-text {
  padding-bottom: 15px;
  font-size: 2vh;
}

.news-wave-container {
  padding: 10px 0 15px 0;
}
.new-image {
  display: block;
  text-align: center;
  justify-content: center;
  align-self: center;
}

.news-image-link {
  border: solid #e6ecf0 1px;
  border-radius: 4px;
  display: block;
  margin: 0;
  height: auto;
  max-width: 100%;
}

.news-article-image {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  padding-bottom: 10px;
  border-radius: 4px;
}

.news-wave-body {
  padding: 0 0 0 0;
  line-height: 1.5;
  margin: 10px;
}
.fix-profile {
  position: fixed;
  width: 29%;
}

.login-formContainer-90 {
  padding-right: 40px !important;
}

/*DESKTOP*/

@media only screen and (min-width: 1024px) {
  .news-article-image {
    height: auto;
    max-width: 100%;
    margin: 0;
  }
  .news-image-link {
    margin: 10px;
  }
  .news-title-link {
    text-align: center;
    margin: 0 10px 10px 10px;
    text-decoration: underline black;
    font-size: 2vh;
  }
  .fix-profile {
    position: fixed;
    width: 30%;
    border: white 2px solid;
  }
}

/*MOBILE*/

@media only screen and (max-width: 600px) {
  .news-body-text {
    padding: 10px;
  }
  .fix-profile {
    position: relative;
    width: 100%;
  }
  .like-comment {
    display: none;
  }
  .wave-container {
    padding: 0 0 10px 0;
    width: 100%;
  }

  .container {
    padding: 10px 5px 4px 5px;
  }
  .wave-body {
    padding: 10px 10px 10px 10px;
    line-height: 1.5;
    border-top: 2px solid #e6ecf0;
    margin: 5px;
  }
  .news-wave-body {
    padding: 5px;
    line-height: 1.5;
    border-top: 2px solid #e6ecf0;
    margin: 5px;
  }
  .news-title-link {
    text-align: center;
    font-size: 13px;
    margin: 0 10px 10px 10px;
    text-decoration: underline black;
  }
  button.MuiButtonBase-root.MuiIconButton-root {
    padding-top: 0;
    padding-bottom: 0;
  }
  .MuiCardContent-root {
    padding: 16px 16px 0 16px !important;
    width: 100%;
  }
  .like-comment-icon {
    padding: 5px 0 5px 0;
    background-color: #e6ecf0;
    border-radius: 4px;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
  }

  .nav-container {
    text-align: center;
    align-content: center;
    align-items: center;
    alignment: center;
    margin: auto;
  }
  .like-comment-dialog {
    padding-top: 10px;
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
    border-top: 2px solid #e6ecf0;
  }
  .delete-button {
    position: absolute;
    top: 5%;
    right: 0;
  }
  .delete-button-dialog {
    position: absolute;
    top: 6px;
    right: -5px;
    z-index: 1000;
  }
  .close-wave {
    position: absolute;
    left: 85%;
    top: 5%;
  }
  .MuiButtonBase-root.MuiIconButton-root.WaveDialog-expandButton-342 {
    padding: 0;
  }
  .MuiGrid-root.MuiGrid-item.MuiGrid-grid-sm-2 {
    width: 100%;
    text-align: center;
  }
  .comment-handle {
    width: 100%;
    text-align: center;
  }
  .comment-user-details {
    padding: 0;
    text-align: center;
    width: 100%;
  }
  .comment-form-container {
    margin: 20px 0 20px 0;
  }
  .dialog-profile-image {
    margin-top: 0;
    height: 100px;
    width: 100px;
  }

  .MuiGrid-root.MuiGrid-item.MuiGrid-grid-sm-10 {
    width: 100%;
    padding: 0;
  }
  .MuiButtonBase-root.MuiIconButton-root.WaveDialog-expandButton-292 {
    padding: 0;
  }
  .MuiDialogContent-root.WaveDialog-dialogContent-311 {
    padding: 0;
  }
  .MuiDialogContent-root.WaveDialog-dialogContent-290 {
    padding: 0;
  }
  .MuiButtonBase-root.MuiIconButton-root.WaveDialog-expandButton-313 {
    padding: 0;
  }
}

/*MUI (desktop)*/

.MuiButton-label {
  font-family: -apple-system, BlinkMacSystemFont, " Helvetica Neue", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-weight: 200 !important;
}

.MuiTypography-h1 {
  font-family: -apple-system, BlinkMacSystemFont, " Helvetica Neue", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif !important;
  font-weight: bold !important;
  font-size: 2em !important;
}

.MuiCardContent-root.news-details-113 {
  padding: 15px 10px 0 !important;
}

.MuiButton-root {
  text-transform: none !important;
}

.MuiCardHeader-root {
  background-color: #e6ecf0;
}

.MuiCardHeader-avatar {
  margin: 0 !important;
}
.MuiCardContent-root {
  padding: 16px 16px 0 16px !important;
}
.MuiPaper-root.MuiPaper-elevation1.MuiCard-root.Wave-card-272.MuiPaper-rounded {
  position: relative;
}

.MuiDialogContent-root.WaveDialog-dialogContent-311 {
  padding-bottom: 0;
}
.MuiGrid-root.MuiGrid-item.MuiGrid-grid-sm-2 {
  justify-content: center;
  vertical-align: center;
}
.MuiCardContent-root {
  width: 100%;
  padding-right: 0;
}
.MuiButtonBase-root.MuiIconButton-root.WaveDialog-expandButton-321 {
  padding: 0px !important;
}

.MuiButtonBase-root.MuiButton-root.MuiButton-contained.submit-btn.MuiButton-containedSecondary {
  margin-left: 10px;
  margin-top: 10px;
  padding: 5px !important;
  height: 40px;
}
